@import 'fonts';
@import 'checkbox';
@import 'media';

$container: 105px;
$monserratBold: 'MontserratBold',sans-serif !important;
$animate: all 0.3s ease;
$bg-blue: #130e27;
$bg-red: #c62314;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: $bg-blue;
}

button{
	cursor: pointer;
}

h3,span,a{
	font-family: 'Montserrat', sans-serif;
}

.bg-blue {
	color: $bg-blue !important;
}

.bg-red {
	color: $bg-red !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

.logo-brand{
	span{
		font-family: 'Chocolatey';
		
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		font-size:90px;
	}
}

header {
	background: url(../img/header-bg.png) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	padding: 0 85px;
	@include max-w(950px) {
		padding: 3% 85px;
	}
	@include max-w(768px) {
		padding: 3% 25px;
	}
	nav {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;
		@include max-w(1099px) {
			padding: 0;
		}
		.navbar{
			display: block;
			@include max-w(768px) {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}
			@include max-w(1099px) {
				width: 100%;
			}
			.nav__logo {
				@include max-w(1099px) {
					text-align: center;
				}
				@include max-w(768px) {
					text-align: left;
				}
				span {
					color: #fff;
					@include max-w(768px) {
						font-size: 75px;
					}
				}
			}

			.menu-icon {
				cursor: pointer;

				@media only screen and (min-width: 769px) {
					display: none;
				}
				@include max-w(768px) {
					display: block;
				}
				.line {
					height: 2px;
					width: 40px;
					background-color: #fff;
					-webkit-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

					&:nth-child(2) {
						margin: 7px 0;
						width: 20px;
					}

					&:last-child {
						width: 30px;
					}
				}
			}
		}
		

		.nav__list {
			margin: 0;
			transition: $animate;
			text-align: center;

			@include max-w(1099px) {
				width: 100%;
				text-align: center;
			}
			@include max-w(768px) {
				max-height: 0;
				overflow: hidden;
			}
			.nav-list__item {
				display: inline-block;
				text-transform: uppercase;
				padding: 12px 15px;
				border-radius: 4px;
				margin: 0 4px;
				transition: $animate;
				@include max-w(768px) {
					display: block;
				}
				a {
					color: #fff;
					text-transform: uppercase;
					font-size: 18px;
				}

				&:hover {
					background: $bg-blue;

					a {
						font-weight: bold;
					}
				}
			}
		}
	}

	.header-content {
		position: relative;
		.banner {
			width: 55%;
			padding: 140px 0px 140px 20px;
			@include max-w(1099px) {
				padding: 60px 0px 60px 20px;
			}
			@include max-w(950px) {
				width: 100%;
			}
			.banner-title {
				h1 {
					text-transform: uppercase;
					span {
						font-family: $monserratBold;
						font-size: 90px;
						color: white;
						@include max-w(1099px) {
							font-size: 70px;
						}
						@include max-w(950px) {
							font-size: 80px;
						}
						@include max-w(650px) {
							font-size: 65px;
						}
					}
				}
			}
			&-desc {
				margin-top: 25px;
				line-height: 1.7;
				span {
					font-size: 20px;
					color: #fff;
					@include max-w(1099px) {
						font-size: 16px;
					}
					@include max-w(950px) {
						font-size: 18px;
					}
					@include max-w(650px) {
						font-size: 15px;
					}
				}
			}
		}

		.contact-form {
			padding: 30px 25px;
			background: #fff;
			border-radius: 5px;
			width: 35%;
			position: absolute;
			top: 200px;
			right: 50px;
			box-shadow: 0px 5px 31.92px 6.08px rgba(0, 0, 0, 0.7);
			@include max-w(1099px) {
				top:100px;
				right: 0;
				width: 40%;
			}
			@include max-w(950px) {
				width: 100%;
				position: relative;
				top: 0;
			}
			.form-title {
				margin-bottom: 35px;
				text-align: center;

				h3 {
					text-transform: uppercase;
				}
			}
			form {
				input {
					width: 100%;
					margin-bottom: 15px;
					padding: 15px;
					border-radius: 4px;
					font-size: 18px;
					background: #eee;
					border: none;
					outline-color: #b0b0b0;
					@include max-w(1099px) {
						font-size: 14px;
					}
				}
				.accept-box{
					margin-top: 20px;
					text-align: center;
					button{
						text-transform: uppercase;
						letter-spacing: 2px;
						padding: 15px 40%;
						margin-top: 25px;
						border:none;
						border-radius: 4px;
						background: $bg-red;
						color: #fff;
						font-weight: bold;
						font-size: 18px;
						outline: none;
						transition: $animate;

						&:hover{
							background: #e8200e;
						}
					}
				}
			}
		}
	}
}

main{
	.section-title {
		text-transform: uppercase;
		@include max-w(768px) {
			text-align: center;
		}
		span {
			font-family: $monserratBold;
			font-size: 50px;
			
		}
	}
	.services{
		padding: 45px $container 70px $container;
		@include max-w(1099px) {
			padding: 45px 30px 70px 30px;
		}
		&-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 8%;
			.service-card {
				width: 25%;
				padding: 0 15px;
				text-align: center;
				@include max-w(768px) {
					width: 40%;
				}
				.card__logo {
					margin-bottom: 45px;
					height: 145px;
				}

				.card__body {
					span {
						font-size: 20px;
						line-height: 1.6;
					}
				}
			}
		}
	}
	.story {
		padding: 30px $container;
		@include max-w(1099px) {
			padding: 30px;
		}
		@include max-w(768px) {
			padding: 15px;
		}
		background: $bg-blue;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-desc {
			width: 56%;

			span {
				font-size: 18px;
				color: #fff;
				@include max-w(768px) {
					font-size: 14px;
				}
			}
		}

		&-btn {
			width: 30%;

			button {
				padding: 20px 20%;
				text-transform: uppercase;
				border-radius: 4px;
				letter-spacing: 2px;
				font-size: 18px;
				background: $bg-red;
				font-weight: bold;
				transition: $animate;
				border: none;
				outline: none;
				color: white;
				@include max-w(768px) {
					padding: 20px 15%;
				}
				&:hover {
					background: #e8200e;
				}
			}
		}
	}
	.pricing{
		padding: 0 $container;
		@include max-w(1099px) {
			padding: 0;
		}
		background-color: #efefef;
		&-title{
			text-align: center;
			padding: 60px 0;
		}
		&-services{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&__card{
				position: relative;
				border-radius: 5px 5px 0 0;
				background-color: white;
				width: 30%;
				text-align: center;
				padding-top: 50px;
				@include max-w(768px) {
					width:85%;
					margin: 2% auto;
					padding: 25px 15px;
					border-radius: 8px;
				}
				.pricing-card__vogue{
					.bg-triangle{
						position: absolute;
						top: 0;
						left: 0;
						border: 40px solid transparent;
						border-left: 40px solid $bg-red;
						border-top: 40px solid $bg-red;
						border-radius: 4px 0 0 0;
					}
					span{
						    position: absolute;
						    top: 4%;
						    left: 0;
						    transform: rotate(-45deg);
						    font-size: 14px;
					}
				}
				.pricing-card__type{
					span{
						font-size: 20px;
						color: $bg-blue;
					}
				}
				.pricing-card__cost{
					margin: 30px 0;
					span{
						font-family: $monserratBold;
						font-size: 60px;
						color: $bg-red;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
				.pricing-card__list{
					li{
						font-size: 18px;
						line-height: 1.6;
						text-transform: capitalize;
					}
				}
				.pricing-card__btn{
					button{
						width: 65%;
						border: none;
						border-radius: 4px;
						font-size: 20px;
						color: white;
						padding: 15px 0;
						background: $bg-blue;
						text-transform: uppercase;
						margin-top: 60px;
						transition: $animate;

						&:hover{
							background: $bg-red;
						}
					}
				}
			}
		}
	}
	.gallery{
		padding: 140px $container 120px $container;
		@include max-w(1099px) {
			padding: 140px 30px 120px 30px;
		}
		@include max-w(768px) {
			padding: 30px 15px;
		}
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		&-title{
			text-align: center;
			margin-bottom: 50px;
			@include max-w(768px) {
				margin-bottom: 20px;
			}
		}
		&-testimonial{
			width: 40%;
			@include max-w(768px) {
				    width: 95%;
				    margin: 0 auto;
			}
			&__post{
				position: relative;
				padding: 25px;
				@include max-w(650px) {
					text-align: center;
					padding: 10px;
				}
				span{
					display: block;
					font-size: 18px;
					@include max-w(950px) {
						font-size: 15px;
					}
					color: #161616;
				}
				.post-author {
					font-weight: bold;
					color: $bg-blue;
					margin-top: 25px;
				}
				img{
					position: absolute;
					top: 10%;
					right: -20%;
					@include max-w(768px) {
					   top: 5%;
					   right: 0;
					}
					@include max-w(650px) {
						position: relative;
					}
				}
			}
			.bg-post{
				background: #efefef;
			}
		}
		&-photo{
			width: 45%;
			text-align: center;
			@include max-w(768px) {
				width: 90%;
				margin: 5% auto;
			}
			&__box{
				padding: 15px;
			}
		}
		.more{
			padding-top: 20px;
			a{
				font-size: 18px;
				text-decoration: underline;
				text-transform: uppercase;
				color:$bg-blue;
				font-weight: bold;
			}
		}
	}
}

footer{
	padding: 60px $container;
	@include max-w(1099px) {
		padding: 60px 30px;
	}
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $bg-blue;
	.developed{
		span{
			color:white;
		}
	}
	.footer-logo{
		.logo-brand{
			span{
				color: $bg-red;
			}
		}
	}
}